*{
    cursor: default;
}

a:hover {
    background-color: #000080;
  }

html{
    background-color: #008080;
    margin: 2px 5px;
}

.grid{
    display: grid;
    grid-template-columns: auto;
}

#fenetre{
    display: none;
    position: relative;
    background-image: url("images/template.png") ;
    background-repeat: no-repeat;
    /* box-sizing: border-box; */
    left: 490px;
    bottom: 300px;
    height: 400px;
    width: 440px;
}


#icone {
    position: absolute;
    height: 18px;
    width: 18px;
    left: 10px;
    top: 3px;
}

#titre{
    position: absolute;
    color: white;
    left: 30px;
    margin: 0px;
    top: 4px;
}

#briacine p{
    position: absolute;
    left: 25px;
    top: 80px;
    color: black;
    background-color: white;
    font-size: 15px;
    text-align: center;
}

#briacine-img{
    position: absolute;
    left: 42px;
    top: 40px;
    height: 45px;
    width: 45px;
    background-color: white;
}


#cancel{
    position:absolute;
    left: 420px;
    height: 16px;
    width: 16px;
    top: 4px;
    padding: 0px ;
}

.wrapper{
    display: grid;
    grid-template-columns: auto;
}

.mail{
    grid-row: 1/5;
}

.recycle{
    grid-row: 2/5;
}


.wrapper a{
    float: left;
    color: white;
    text-decoration: none;
}    

.wrapper p{
    clear: both center;
    margin: 0px;
    text-align: center;
}

.wrapper button{
    background-color: #c7c9c9;
    float: none;
}

.wrapper button img{
    background-color: #c7c9c9;
    height: 26px;
    width: 26px;
    margin: 0px;
}

footer hr{
    width: 0.5px;
    height: 32px;
    display: inline-block;
    margin: 0px;
}



footer{
    vertical-align:text-top;
    margin: 0px -15px;
    background-color: #c7c9c9;
    position: absolute;
    bottom: 0;
    width: 100vw;
}

.flexbox{
    display: flex;
    flex-flow: row nowrap;
    background-color: #c7c9c9;
    
}

#separate-time{
    margin-left: 92vw;
}

#time{
    padding-left: 10px;
    padding-right: 10px;
    align-self: center;
    background-color: #c7c9c9;
    margin-top: 0px;
}